# We only take '/' as path separator
# The following properties may be modified
tibco.home={{ tibco_home }}
plugins.home=${tibco.home}/tct/components/shared/1.0.0/plugins
machine.model.location={{ tibco_home }}/tools/machinemodel/shared/1.0.0/machine.xmi

# Shell Configuration Details
source.jar.folders={{ installation_folder }}
shell.name=com.tibco.tpcl.gen.oracle.jdbc
shell.version=11.1.0.112100
provide.db2.license.jar=false
db2.license.jar.path=
