[Unit]
Description=Hadoop datanode daemon
After=syslog.target network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/start_datanode.sh
User=vagrant

[Install]
WantedBy=multi-user.target
