[Unit]
Description=Hadoop nodemanager daemon
After=syslog.target network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/start_nodemanager.sh
User=vagrant

[Install]
WantedBy=multi-user.target
