[Unit]
Description=Hadoop resourcemanager daemon
After=syslog.target network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/start_resourcemanager.sh
User=vagrant

[Install]
WantedBy=multi-user.target
